@import 'tailwindcss';

:root {
  --color-background: #E9E6EC;
  --color-foreground: #4a4a4a;
}

@theme {
  --font-heading: 'Quicksand', cursive;
  --font-sans: 'Inter', Arial, Helvetica, sans-serif;

  --color-white: #F4F2F7;
  --color-light-grey: #E9E6EC;
  --color-dark-grey: #4a4a4a;
  --color-dark-grey-lighter: #9f9ea0;
  --color-lavender-1: #d8b4fe;
  --color-lavender-2: #cda6f7;
  --color-lavender-3: #b068fd;
  --color-lavender-4: #a654fd;
  --color-lavender-5: #922dfc;
  --color-lavender-6: #ecdbff;
  --color-error: #D12E64;

  --box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.25);
  --text-shadow: 1px 3px 5px rgba(0,0,0,0.25);
}
*{
  box-sizing: border-box;
}
html{
  height: 100dvh;
}
body {
  height: 100vh;
  height: 100dvh;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-quicksand);
  margin: 0;
  font-weight: 300;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.25rem;
}
