@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap');
@import 'tailwindcss';

:root {
  --color-background: #ece8e6;
  --color-foreground: #4a4a4a;
}

@theme {
  --font-heading: 'Quicksand', cursive;
  --font-sans: 'Inter', Arial, Helvetica, sans-serif;

  --color-white: #f7f4f2;
  --color-light-grey: #ece8e6;
  --color-dark-grey: #4a4a4a;
  --color-dark-grey-lighter: #9f9ea0;
  --color-lavender-1: #d8b4fe;
  --color-lavender-2: #cda6f7;
  --color-lavender-3: #b068fd;
  --color-lavender-4: #a654fd;
  --color-lavender-5: #922dfc;
  --color-lavender-6: #ecdbff;

  --box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.25);
}
*{
  box-sizing: border-box;
}
body {
  height: 100vh;
  height: 100dvh;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  box-sizing: border-box;
  margin: 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  margin: 0;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.25rem;
}
